@import url("https://fonts.googleapis.com/css?family=Livvic&display=swap");
body {
  
  background: -webkit-linear-gradient(
    left,
    rgb(50, 248, 238) 0%,
    rgba(241, 111, 92, 1) 0%,
    rgb(23, 240, 193) 0%,
    rgb(175, 0, 228) 38%,
    rgb(6, 9, 223) 100%
  );
  overflow: hidden;
  font-family: "Livvic", sans-serif;
}
li {
  list-style-type: none;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}


.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}


.right {
  text-align: right;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
.row{
  margin-left: 2px;
}

.bar-5 {width: 70%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 20%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}
.container {
  
  background: white;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 50px;
  height: 85vh;
  margin-bottom: 50px;
}
.imgContainer {
  flex: 1;
  text-align: center;
}
.cart,
.buynow {
  
  background: -webkit-linear-gradient(
    left,
    rgb(50, 248, 238) 0%,
    rgba(241, 111, 92, 1) 0%,
    rgb(23, 240, 193) 0%,
    rgb(175, 0, 228) 38%,
    rgb(6, 9, 223) 100%
  );
  width: 170px;
  margin-right: 5px;
  font-size: 18px;
  color: white;
  border-radius: 0px;
}
.cart:focus,
.buynow:focus {
  outline: none;
}
.cart:hover,
.buynow:hover {
  color: white;
}
.buynow {
  background: -webkit-linear-gradient(
    left,
    rgba(255, 175, 75, 1) 0%,
    rgba(255, 146, 10, 1) 27%,
    rgba(255, 146, 10, 1) 100%
  );
}
.descContainer {
  flex: 2;
  overflow-y: auto;
}
.descContainer h3 {
  margin-top: 20px;
}
.checked {
  color: orange;
}
.reviews {
  margin-top: 35px;
}
.avg {
  padding-right: 25px;
  border-right: 1px solid lightgray;
}
.ratedata {
  margin: 20px;
  text-align: center;
}
.price {
  font-size: 35px;
}
.flex {
  display: flex;
}
.inline {
  display: inline-block;
}
.Warranty {
  margin-right: 50px;
}
.inside {
  display: inline;
}
.check {
  background: #333333;
  color: white;
  margin-right: 88px;
}

@media screen and (max-width: 1153px) {
  .cart,
  .buynow {
    
    background: -webkit-linear-gradient(
      left,
      rgba(248, 80, 50, 1) 0%,
      rgba(241, 111, 92, 1) 0%,
      rgba(240, 47, 23, 1) 0%,
      rgba(228, 0, 70, 1) 38%,
      rgba(228, 0, 70, 1) 100%
    );
    width: 120px;
    margin-right: 5px;
    font-size: 12px;
    color: white;
    border-radius: 0px;
  }
  .buynow {
    background: -webkit-linear-gradient(
      left,
      rgba(255, 175, 75, 1) 0%,
      rgba(255, 146, 10, 1) 27%,
      rgba(255, 146, 10, 1) 100%
    );
  }
}
@media screen and (max-width: 700px) {
  .container,
  .flex {
    flex-direction: column;
  }
  .avg {
    text-align: center;
  }
  .respons {
    display: block;
  }
  .ratedata ui-knob {
    font-size: 10px;
  }
  body{
    overflow: hidden;
  }
  .input{
    width: 125px;
  }
  ui-knob{
    height: 10px;
  }
  .ratings{
    display: flex;
  }
}
